@import '../../../../assets/styles/variables';
/* sidebar.component.scss */

aside {
  height: 100%;
  padding: 20px 0;
  h3 {
    font-size: 1.5rem;
  }
  ul.nav {
    li.nav-item {
      a.nav-link {
        color: $text-color;
        &:hover {
          background-color: $primary-color;
          color: $background-color;
        }
      }
      .active {
        background-color: $primary-color;
        color: $background-color;
      }
    }
  }
}
