<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-first">Selección de Candidatos</h2>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">Nombre del Proyecto</h5>
          <p class="card-text">Descripción del Proyecto</p>
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="busqueda-tab" data-bs-toggle="tab" href="#busqueda" role="tab"
            aria-controls="busqueda" aria-selected="true">Búsqueda</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="seleccionados-tab" data-bs-toggle="tab" href="#seleccionados" role="tab"
            aria-controls="seleccionados" aria-selected="false">Seleccionados</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">


        <!-- Tab de Búsqueda -->
        <div class="tab-pane fade show active" id="busqueda" role="tabpanel" aria-labelledby="busqueda-tab">
          <h3 class="mt-4">Búsqueda de Candidatos</h3>
          <!-- Tarjetas de candidatos con botón "Seleccionar" -->
          <div class="row">
            <!-- Candidato 1 -->
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Nivel Educativo: Universitario</p>
                      <p class="card-text">Habilidades:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-primary">Desarrollo Web</span></li>
                        <li><span class="badge bg-success">Python</span></li>
                        <li><span class="badge bg-info">Angular</span></li>
                      </ul>
                      <p class="card-text">Idiomas:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-secondary">Español</span></li>
                        <li><span class="badge bg-secondary">Inglés</span></li>
                      </ul>
                      <button class="btn btn-first">Seleccionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 2 -->
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Nivel Educativo: Universitario</p>
                      <p class="card-text">Habilidades:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-primary">Desarrollo Web</span></li>
                        <li><span class="badge bg-success">Python</span></li>
                        <li><span class="badge bg-info">Angular</span></li>
                      </ul>
                      <p class="card-text">Idiomas:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-secondary">Español</span></li>
                        <li><span class="badge bg-secondary">Inglés</span></li>
                      </ul>
                      <button class="btn btn-first">Seleccionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 3 -->
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Nivel Educativo: Universitario</p>
                      <p class="card-text">Habilidades:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-primary">Desarrollo Web</span></li>
                        <li><span class="badge bg-success">Python</span></li>
                        <li><span class="badge bg-info">Angular</span></li>
                      </ul>
                      <p class="card-text">Idiomas:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-secondary">Español</span></li>
                        <li><span class="badge bg-secondary">Inglés</span></li>
                      </ul>
                      <button class="btn btn-first">Seleccionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 4 -->
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Nivel Educativo: Universitario</p>
                      <p class="card-text">Habilidades:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-primary">Desarrollo Web</span></li>
                        <li><span class="badge bg-success">Python</span></li>
                        <li><span class="badge bg-info">Angular</span></li>
                      </ul>
                      <p class="card-text">Idiomas:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-secondary">Español</span></li>
                        <li><span class="badge bg-secondary">Inglés</span></li>
                      </ul>
                      <button class="btn btn-first">Seleccionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 5 -->
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Nivel Educativo: Universitario</p>
                      <p class="card-text">Habilidades:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-primary">Desarrollo Web</span></li>
                        <li><span class="badge bg-success">Python</span></li>
                        <li><span class="badge bg-info">Angular</span></li>
                      </ul>
                      <p class="card-text">Idiomas:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-secondary">Español</span></li>
                        <li><span class="badge bg-secondary">Inglés</span></li>
                      </ul>
                      <button class="btn btn-first">Seleccionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 6 -->
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Nivel Educativo: Universitario</p>
                      <p class="card-text">Habilidades:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-primary">Desarrollo Web</span></li>
                        <li><span class="badge bg-success">Python</span></li>
                        <li><span class="badge bg-info">Angular</span></li>
                      </ul>
                      <p class="card-text">Idiomas:</p>
                      <ul class="list-unstyled">
                        <li><span class="badge bg-secondary">Español</span></li>
                        <li><span class="badge bg-secondary">Inglés</span></li>
                      </ul>
                      <button class="btn btn-first">Seleccionar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Tab de Seleccionados -->
        <div class="tab-pane fade" id="seleccionados" role="tabpanel" aria-labelledby="seleccionados-tab">
          <h3 class="mt-4">Candidatos Seleccionados en Pruebas Técnicas</h3>
          <!-- Tarjetas de candidatos seleccionados en pruebas técnicas -->
          <div class="row">
            <!-- Candidato 1 -->
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Proyecto: Nombre del Proyecto 1</p>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85"
                          aria-valuemin="0" aria-valuemax="100">85% (Puntaje)</div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-first">Detalles</button>
                        <span class="badge bg-secondary">Seleccionado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 2 -->
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Proyecto: Nombre del Proyecto 1</p>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85"
                          aria-valuemin="0" aria-valuemax="100">85% (Puntaje)</div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-first">Detalles</button>
                        <span class="badge bg-secondary">Seleccionado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Candidato 3 -->
            <div class="col-md-4">
              <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png"
                      alt="Imagen del Candidato 1" class="img-fluid card-img">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Nombre del Candidato 1</h5>
                      <p class="card-text">Proyecto: Nombre del Proyecto 1</p>
                      <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 85%;" aria-valuenow="85"
                          aria-valuemin="0" aria-valuemax="100">85% (Puntaje)</div>
                      </div>
                      <div class="d-flex justify-content-between align-items-center mt-3">
                        <button class="btn btn-first">Detalles</button>
                        <span class="badge bg-secondary">Seleccionado</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
