<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-first">Registro de Empresa</h2>
          <form>
            <div class="mb-3">
              <label for="nombreEmpresa" class="form-label">Nombre de la Empresa:</label>
              <input type="text" class="form-control" id="nombreEmpresa" name="nombreEmpresa" required>
            </div>

            <div class="mb-3">
              <label for="direccionEmpresa" class="form-label">Dirección de la Empresa:</label>
              <input type="text" class="form-control" id="direccionEmpresa" name="direccionEmpresa" required>
            </div>

            <div class="mb-3">
              <label for="telefonoEmpresa" class="form-label">Teléfono de la Empresa:</label>
              <input type="text" class="form-control" id="telefonoEmpresa" name="telefonoEmpresa" required>
            </div>

            <div class="mb-3">
              <label for="industriaEmpresa" class="form-label">Industria:</label>
              <input type="text" class="form-control" id="industriaEmpresa" name="industriaEmpresa" required>
            </div>

            <button type="submit" class="btn btn-first">Registrarse</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
