<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-first">Creación de Proyecto</h2>
          <form>
            <div class="mb-3">
              <label for="nombreProyecto" class="form-label">Nombre del Proyecto:</label>
              <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto" required>
            </div>

            <div class="mb-3">
              <label for="descripcionProyecto" class="form-label">Descripción del Proyecto:</label>
              <textarea class="form-control" id="descripcionProyecto" name="descripcionProyecto" rows="3" required></textarea>
            </div>

            <div class="mb-3">
              <label for="rolProyecto" class="form-label">Rol a Asignar:</label>
              <input type="text" class="form-control" id="rolProyecto" name="rolProyecto" required>
            </div>

            <div class="mb-3">
              <label for="habilidadesRequeridas" class="form-label">Habilidades Requeridas:</label>
              <input type="text" class="form-control" id="habilidadesRequeridas" name="habilidadesRequeridas" required>
            </div>

            <div class="mb-3">
              <label for="fechaInicio" class="form-label">Fecha de Inicio:</label>
              <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
            </div>

            <div class="mb-3">
              <label for="fechaFin" class="form-label">Fecha de Fin:</label>
              <input type="date" class="form-control" id="fechaFin" name="fechaFin" required>
            </div>

            <button type="submit" class="btn btn-first">Crear Proyecto</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
