/* app.component.scss */
@import '/src/assets/styles/variables';

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family;
}

#sidebar {
  background-color: #d5d5d5;
  color: $text-color;

  /* Añade cualquier estilo adicional que desees para la barra lateral aquí */
}

#sidebar a {
  color: $text-color;
  &:hover {
    color: $primary-color;
  }
}

main {
  background-color: $background-color;

  /* Añade cualquier estilo adicional que desees para el contenido principal aquí */
}
